:root {
    --primary-color1: #D7E6FD;
    --primary-color2: #0055CC;
    --primary-color3: #002861;
    --secondary-color1: #FFE79D;
    --secondary-color2: #FFD03A;
    --secondary-color3: #7B5E00;
    --tertiary-color1: #FFFFFF;
    --tertiary-color2: #BDBDBD;
    --tertiary-color3: #2E2E2E;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
    padding: 40px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--secondary-color3) ;
}

h1:hover,h2:hover {
    animation: tremble 0.4s infinite;
}

p {
    margin-bottom: 20px;
}

header {
    background-color: var(--primary-color3);
    color: var(--secondary-color2);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 150px 150px 80px;
}

.lists {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
    padding-left: 20px;
}

.lists li {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--tertiary-color3);
    color: var(--secondary-color2);
    width: 100%;
}

footer p {
    margin-bottom: 0;
    padding: 20px;
}

@keyframes tremble {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-2px, -2px);
    }
    50% {
        transform: translate(2px, 2px);
    }
    75% {
        transform: translate(-2px, 2px);
    }
    100% {
        transform: translate(2px, -2px);
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 30px;
        line-height: 40px;
    }

    main {
        padding: 180px 30px 80px;
    }
}

@media (max-width: 376px) {
    main {
        padding-top: 220px;
    }
}